# Snippets must be at the top
(internal) {
  tls internal
}
(acme) {
}
(global_internal) {
  local_certs
}
(global_acme) {
}

{
  # Import global TLS settings
  import global_{$CADDY_TLS_MODE:acme}

  # Admin API reachable from within the Docker network
  admin :2019 {
    origins localhost:2019
  }
}

# The main Portcullis manager UI
{$PORTCULLIS_DOMAIN:staging.localhost} {
  # If CADDY_TLS_MODE is "internal", use the internal CA
  # Otherwise, Caddy defaults to ACME
  import {$CADDY_TLS_MODE:acme}

  reverse_proxy nextjs_app:3000
}
